body {background-image: url(https://i.pinimg.com/564x/59/d9/a0/59d9a089ef90b583e17b1e90cd08d06e.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }