<html>

<head>
    <title>IP Address Location and Details</title>
    <link rel = "stylesheet" href="/static/style.css"/>
</head>

<body>
    <p style="text-align: center;"><img src="https://www.iconpacks.net/icons/2/free-location-map-icon-2956-thumb.png" style="width: 150; height: 150;" ></p>

    <div class="container">
        <div class="wrapper" style = "background-color: rgb(162, 236, 241); border-style: solid;border-color: black; width: 600px; margin-left:auto; margin-right:auto; text-align:center;">
            <p style="text-align:center; font-size:50px;"><b>{{ html_ip }}</b></p>
        </div>
        <p></p>
        <div class="wrapper" style = "background-color: rgb(162, 236, 241); border-style: solid;border-color: black; width: 600px; margin-left:auto; margin-right:auto; text-align:center;">
          <div class="card-body">
            <p style="text-align:center; font-size:25px;">IP Version:<b> {{ html_version }}</b></p>
            <p style="text-align:center; font-size:25px;">City:<b> {{ html_city }}</b></p>
            <p style="text-align:center; font-size:25px;">Postal Code:<b> {{ html_postal }}</b></p>
            <p style="text-align:center; font-size:25px;">Region:<b> {{ html_region }}</b></p>
            <p style="text-align:center; font-size:25px;">Country:<b> {{ html_country }}</b></p>
            <p style="text-align:center; font-size:25px;">ASN:<b> {{ html_asn }}</b></p>
            <p style="text-align:center; font-size:25px;">Internet Service Provider:<b> {{ html_isp }}</b></p>
          </div>
        </div>  
    </div>
</body>

</html>